*
{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: aliceblue;
    padding: 30px;
}

.box{
    background-image: url(./images/naruto1.jpg);
    height: 100dvh;
    width: 99dvw;
    text-align:center;
    color: black;
    letter-spacing: 13px;
    font-size: 3.5vw;
    margin: -40px;
}

h1{
    margin-top: 0%;
}


.word{
    font-size: 3.5vw;
    text-align: center;
    color: orangered;
}

#by{
    text-align: right;
    margin-right: 5%;
    margin-top: -30px;
    color: rgba(0, 0, 0, 0.7);
}